@(Games: Array[Map[String, String]])
<!DOCTYPE HTML>
<html>
    <head>
        <title>FanOutings</title>

        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Titillium+Web:600,400,200,300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

        <style>
        body {
        margin : 0 ;
        padding : 0 ;
        width : 100 % ;
        height : 100 % ;
        color : #666 ;
        display : table ;
        /*font-weight: 200;*/
        /*font-family: 'Titillium Web';*/
        font-family : 'Julius Sans One' ;
        }

        .container {
        text-align : center ;
        display : table-cell ;
        vertical-align : middle ;
        }

        .content {
        text-align : center ;
        display : inline-block ;
        }

        .title {
        font-size : xx-large ;
        margin-bottom : large ;
        }

        .quote {
        font-size : large ;
        }

        .game {
        color : #333 ;
        font-size : large ;
        }

        .cardinals {
        color : #C41E3A ;
        }

        .dodgers {
        color : #005596 ;
        }

        .matchups-container {
        text-align : left ;
        color : #333 ;
        font-size : larger ;
        }

        .header {
        /*font-weight: 600;*/
        }

        .yes_interest {
        color : limegreen ;
        }

        .maybe_interest {
        color : orange ;
        }

        .no_interest {
        color : red ;
        }

        .teamname {
        /*font-weight: 300;*/
        }

        </style>
    </head>
    <body>

        <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1617441701865719',
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

        <div id="fb-root"></div>

            <!--<div-->
            <!--    class="fb-like"-->
            <!--    data-share="true"-->
            <!--    data-width="450"-->
            <!--    data-show-faces="true">-->
            <!--</div>-->

        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
        <div id="status"></div>

        <div class="container">
            <div class="content">
                <div class="title"><span class="title">FantOutings</span></div>
                <div class="matchups-container">
                    <table>
                        <tr class="header">
                            <td>Day</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Visiting Team</td>
                            <td>Interest Level</td>
                        </tr>
                        @for(Game <- Games) {
                            <tr>
                                <td>@Game("dow")</td>
                                <td>@Game("month") &nbsp; @Game("day")</td>
                                <td>@Game("hour"):@Game("minute")&nbsp;</td>
                                <td class="@Game("name").toLowerCase"><span class="teamname">@Game("city") &nbsp; @Game("name")</span></td>
                                <td class="interests">
                                    <label for="interest_yes_@Game("gameid")" class="cb-enable selected">
                                        <span>Yes</span>
                                    </label>
                                    <input type="radio" id="interest_yes_@Game("gameid")" name="interest_@Game("gameid")" value="yes" /> &nbsp;&nbsp;
                                    <label for="interest_maybe_@Game("gameid")" class="cb-disable">
                                        <span>Maybe</span>
                                    </label>
                                    <input type="radio" id="interest_maybe_@Game("gameid")" name="interest_@Game("gameid")" value="maybe" /> &nbsp; &nbsp;
                                    <label for="interest_no_@Game("gameid")" class="cb-disable">
                                        <span>No</span>
                                    </label>
                                    <input type="radio" id="interest_no_@Game("gameid")" name="interest_@Game("gameid")" value="no" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <script>

    $(document).ready(function () {
        $("input").prop("disabled", true);

        $(".cb-enable").click(function () {
            var parent = $(this).parents('.switch');
            $('.cb-disable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', true);
        });
        $(".cb-disable").click(function () {
            var parent = $(this).parents('.switch');
            $('.cb-enable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', false);
        });
    });

    function showInterests() {

        $('input').prop("disabled", false);

    }

    function callFCallback(fbResponse, authProvider) {
//        console.log(fbResponse);
        var url = 'http://fanoutings.com/auth/' + authProvider;
        var method = 'POST';

        $.ajax({
            type: method,
            url: url,
            data: fbResponse,
            success: function (res) {
//                console.log(res);
                showInterests();
            }
        });

    }

</script>

        <script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
//        console.log('statusChangeCallback');
//        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1617441701865719',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.3'
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };


    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
//        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
//            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
            callFCallback(response, 'facebook');
        });
    }
</script>

        <script>
function fbLogout() {
        FB.logout(function (response) {
            //Do what ever you want here when logged out like reloading the page
            window.location.reload();
        });
    }
</script>

        <span id="fbLogout" onclick="fbLogout()"><a class="fb_button fb_button_medium"><span class="fb_button_text">
            Logout</span></a></span>

    </body>
</html>
